body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background-image: url("mapa.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .menu {
    background: white;
    padding: 2rem;
    width: 500px;
    height: 300px;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  button {
    margin-top: 1rem;
    width: 300px;
    padding: 0.5rem 1rem;
    font-size: 20px;
    background: #007acc;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  